.star {
    position: absolute;
    height: 40px;
    width: 40px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #161922;
    color: white;
  }
  
  .title {
    margin: 0;
    margin-left: 60px;
  }
  
  .form {
    display: flex;
    align-items: center;
  }
  
  .input {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .button {
    padding: 5px 10px;
    background-color: yellow;
    border: none;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
  }
  